.error-block{
    width: 100%;
    box-sizing: border-box;
    color: #ff3030;
    background-color: #eeb6b6;
    font-size: inherit;
    font-weight: bold;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}