.form-sec{
    max-width: 600px;
    margin: 30px auto;
}

.login-failed-paragraph{
    background-color: #eeb6b6;
    padding: 20px;
    color: #ff3030;
    font-size: 21px;
    text-align: center;
}

.form-sec-head,.form-button{
    background-color: #10b386;
    color: #fff;
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.form-sec-head{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.form-button{
    width: 100%;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-weight: bold;
    font-size: 30px;
}

.form-submit,.form-button{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-button:hover{
    background-color: #000000;
    color: #10b386;
    transition: 2s;
}

.form-submit{
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.input-row{
    width: 90%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}

.form-label{
    align-self: center;
    font-size: 21px;
    font-weight: bold;
}

.form-input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #7d8585;
    font-size: 30px;
}

.prod-add-input[type='file']{
    background-color: #10b386;
}

.is-identical{
    background-color: #79d76f;
    color: #177909;
}

.not-identical{
    background-color: #eeb6b6;
    color: #ff3030;
}

