.prod-show-navbar{
    background-color: #fff;
    padding: 0 30px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.prod-show-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(77, 207, 163, .7);
    max-width: 1000px;
}

.product-show-info{
    width: 70%;
    text-align: left;
    margin: 0 40px;
}

.change-count-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 25px;
    border: none;
    background-color: #10b386;
    color: #fff;
    border-radius: 10px;
    outline: none;
}

.change-count-btn:hover{
    background-color: #000;
    color: #fff;
}

.product-show-img{
    width: 30%;
    height: 100%;
}

.counter-change-block{
    display: flex;
    justify-content: left;
    align-items: center;
}

.current-basket-count{
    margin: 0 20px;
}