
.admin-page-sec {
    max-width: 1000px;
    height: 500px;
    margin: 20px auto;
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "search-form admins-list"
                         "search-result admins-list";
    grid-gap: 20px;
}

.search-user-form {
    display: inline-flex;
    margin-bottom: 10px;
    grid-area: search-form;
    width: 100%;
    height: 100%;
}

.search-user-input, .search-user-btn {
    outline: none;
    border: none;
    padding: 20px;
}

.search-user-input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 80%;
}

.search-user-btn {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10b386;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-result-list, .admins-list {
    background-color: #fff;
}

.search-result-list {
    grid-area: search-result;
}

.admins-list {
    grid-area: admins-list;
}