
.admin-page-sec {
    max-width: 1000px;
    height: 500px;
    margin: 20px auto;
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "search-form admins-list"
                         "search-result admins-list";
    grid-gap: 20px;
}

.search-result-list, .admins-list {
    background-color: #fff;
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

.search-result-list {
    grid-area: search-result;
}

.admins-list {
    grid-area: admins-list;
}