.admin-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.admin-data{
    display: flex;
}

.admin-img {
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.admin-info{
    margin: 0 20px;
}

.admin-btn{
    outline: none;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.is-admin{
    background-color: #10b386;
}

.not-admin{
    background-color: #8fa292;
}