
.product-sec,.no-product{
    max-width: 900px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 40px auto;
}

.product-sec{
    background-color: #10b386;
    justify-content: left;
    color: #fff;
}

.no-product{
    background-color: #eeb6b6;
    color: #ff3030;
    font-size: 30px;
    justify-content: center;
}
.no-product>a{
    color: #198509;
    text-decoration: none;
    margin: 5px;
}

.product-img{
    height: 100%;
    width: 30%;
}

.product-info-block{
    margin: 0 20px;
    font-size: 21px;
    color: #fff;
}

.change-count-block{
    text-align: center;
}

.set-count-value-block{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-all-block{
    width: 30%;
    margin: 20px auto;
}

.buy-products{
    background-color: #35c820;
    color: #fff;
    width: 100%;
    padding: 20px;
    font-size: 21px;
    border: none;
    outline: none;
}

.buy-products:hover{
    background-color: #000;
    transition: 0.5s;
    transform: scale(1.2);
    border-radius: 10px;
    border: 3px solid #fff;
}